In [1]:
import numpy as np

import pandas as pd

In [2]:
df = pd.read_csv('Property_Valuation_and_Assessment_Data.csv')
len(df)

9845857

In [4]:
len(df.columns)

40

In [5]:
df.head

<bound method NDFrame.head of                BBLE  BORO  BLOCK   LOT EASEMENT                  OWNER BLDGCL  \
0        1000163859     1     16  3859      NaN           CHEN, QI TOM     R4
1        1000730028     1     73    28      NaN               NYC DSBS     V1
2        1000730029     1     73    29      NaN               NYC DSBS     Y7
3        1000297504     1     29  7504      NaN                    NaN     R0
4        1000360012     1     36    12      NaN               NYC DSBS     Y7
...             ...   ...    ...   ...      ...                    ...    ...
9845852  5070381059     5   7038  1059      NaN  MARGUERITE FIORE/FAMI     R3
9845853  5078601001     5   7860  1001      NaN          KORK, ANTHONY     R3
9845854  5078580036     5   7858    36      NaN    MALDARELLI, LEONARD     A5
9845855  5070910019     5   7091    19      NaN        JOHN J PERROTTA     B9
9845856  5077100526     5   7710   526      NaN     STEPHEN W REBRACCA     A2

        TAXCLASS  LTFRONT  LTDEPTH  ... VALTYPE    Borough   Latitude  \
0              2        0        0  ...   AC-TR        NaN        NaN
1              4      183       52  ...   AC-TR        NaN        NaN
2              4       90      500  ...   AC-TR        NaN        NaN
3              2       36       73  ...   AC-TR        NaN        NaN
4              4      534      604  ...   AC-TR        NaN        NaN
...          ...      ...      ...  ...     ...        ...        ...
9845852       1A        4       42  ...   AC-TR  STATEN IS  40.546634
9845853       1A       22       27  ...   AC-TR  STATEN IS  40.502727
9845854        1       25      100  ...   AC-TR  STATEN IS  40.499770
9845855        1       24      113  ...   AC-TR  STATEN IS  40.540859
9845856        1       60      100  ...   AC-TR  STATEN IS  40.507700

         Longitude  Community Board  Council District  Census Tract  \
0              NaN              NaN               NaN           NaN
1              NaN              NaN               NaN           NaN
2              NaN              NaN               NaN           NaN
3              NaN              NaN               NaN           NaN
4              NaN              NaN               NaN           NaN
...            ...              ...               ...           ...
9845852 -74.211915            503.0              51.0       20801.0
9845853 -74.237263            503.0              51.0       24402.0
9845854 -74.238913            503.0              51.0       24402.0
9845855 -74.218776            503.0              51.0         226.0
9845856 -74.223777            503.0              51.0       24402.0

               BIN                                     NTA  \
0              NaN                                     NaN
1              NaN                                     NaN
2              NaN                                     NaN
3              NaN                                     NaN
4              NaN                                     NaN
...            ...                                     ...
9845852  5123588.0                       Rossville-Woodrow
9845853  5093070.0  Charleston-Richmond Valley-Tottenville
9845854  5115616.0  Charleston-Richmond Valley-Tottenville
9845855  5151497.0  Charleston-Richmond Valley-Tottenville
9845856  5087328.0  Charleston-Richmond Valley-Tottenville

             New Georeferenced Column
0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
9845852  POINT (-74.211915 40.546634)
9845853  POINT (-74.237263 40.502727)
9845854   POINT (-74.238913 40.49977)
9845855  POINT (-74.218776 40.540859)
9845856    POINT (-74.223777 40.5077)

[9845857 rows x 40 columns]>

In [4]:
remove_n = 9840857
drop_indices = np.random.choice(df.index, remove_n, replace=False)
df_subset_big = df.drop(drop_indices)
len(df_subset_big)

df_subset_big.replace([np.inf, -np.inf], np.nan, inplace=True)
df_subset_big.fillna(1, inplace=True)

In [5]:
len(df_subset_big)

5000

In [6]:
df_subset_big.to_csv('NYC_DF_BIG.csv')

In [7]:
len(df)

9845857

In [8]:
remove_n = 9835857
drop_indices = np.random.choice(df.index, remove_n, replace=False)
df_subset_biggest = df.drop(drop_indices)
len(df_subset_biggest)

df_subset_biggest.replace([np.inf, -np.inf], np.nan, inplace=True)
df_subset_biggest.fillna(1, inplace=True)

In [9]:
len(df_subset_biggest)

10000

In [10]:
df_subset_biggest.to_csv('NYC_DF_BIGGEST.csv')

In [6]:
pip install scikit-learn-intelex

Requirement already satisfied: scikit-learn-intelex in c:\users\jessi\anaconda3\lib\site-packages (2021.20210714.120553)Note: you may need to restart the kernel to use updated packages.

ERROR: Cannot uninstall 'TBB'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

Requirement already satisfied: daal4py>=2021.2 in c:\users\jessi\anaconda3\lib\site-packages (from scikit-learn-intelex) (2021.3.0)
Requirement already satisfied: scikit-learn>=0.22 in c:\users\jessi\anaconda3\lib\site-packages (from scikit-learn-intelex) (0.24.2)
Collecting daal==2021.2.3
  Downloading daal-2021.2.3-py2.py3-none-win_amd64.whl (63.9 MB)
Requirement already satisfied: numpy>=1.15 in c:\users\jessi\anaconda3\lib\site-packages (from daal4py>=2021.2->scikit-learn-intelex) (1.22.4)
Collecting tbb==2021.*
  Downloading tbb-2021.6.0-py3-none-win_amd64.whl (278 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jessi\anaconda3\lib\site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\jessi\anaconda3\lib\site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\jessi\anaconda3\lib\site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.7.1)
Installing collected packages: tbb, daal
  Attempting uninstall: tbb
    Found existing installation: TBB 0.2